@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Outfit", sans-serif;
  font-style: normal;
}

body {
  height: 100vh;
  background-color: hsl(212, 45%, 89%);
  display: grid;
  place-items: center;
}

main {
  width: 340px;
  background-color: hsl(0, 0%, 100%);
  text-align: center;
  border-radius: 15px;
  padding: 1rem 1rem;
  position: relative;
  animation: slide-down 2s forwards;
}


main {
    box-shadow: 0 0.063rem 0.188rem rgba(31, 50, 81, 0.12), 0 0.063rem 0.125rem rgba(31, 50, 81, 0.24);
    transition: all 0.3s ease-in-out;
}


img {
  border-radius: 10px;
  width: 100%;
  height: auto;
}

h1 {
  font-size: 1.3rem;
  margin: 1rem;
  color: hsl(218, 44%, 22%);
}

p {
  margin: 0rem 1rem 2rem;
  color: hsl(220, 15%, 55%);
}

@keyframes slide-down {
  0% {
    top: -3000px;
  }
  100% {
    top: 0;
  }
}

@media (hover){
    main:hover {
        box-shadow: 0 0.875rem 1.75rem rgba(31, 50, 81, 0.25), 0 0.625rem 0.625rem rgba(31, 50, 81, 0.22);
        cursor: pointer;
    }
}

@media (max-width: 400px) {
  main {
    width: 250px;
  }

  html {
    font-size: 12px;
  }
}
